.git/*
# lua_ls proyecto local
.luarc.json

# Archivos compilados de spell
spell/*.spl

# Modulos de node
node_modules/

# Archivos de configuración local
*.DS_Store

# Plugin auto-generados
plugin/

# Swap/backup (desactivados pero por seguridad)
*.swp
*.swo
*~
